.movie-poster-container {
	position: relative;
	width: 100%;
	aspect-ratio: 2 / 3;
	border-radius: 1rem;
	overflow: hidden;
	flex-shrink: 0;
}

.movie-poster-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.poster-sm {
	width: 100%;
}

.poster-md {
	width: 12rem;
}

.poster-lg {
	width: 19rem;
}

@media (pointer: fine) {
	.movie-poster-container.clickable {
		cursor: pointer;
		transition: transform 0.3s ease;
	}
	.movie-poster-container.clickable:hover {
		transform: scale(1.03);
	}
}

@media (max-width: 768px) {
	.poster-md,
	.poster-lg {
		width: 80%;
	}
}
