.cast-container {
    margin: 2rem 0;
    color: black;
    width: 100%;
}

.cast-container h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.cast-scroll {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scroll-behavior: smooth;

}

.cast-card {
    flex: 0 0 11rem;
    text-align: center;
}

.cast-image {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.cast-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}

.cast-character {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .cast-card { flex: 0 0 8rem; }

    .cast-image { width: 8rem; height: 8rem; }

    .cast-container { text-align: center; }
}