/* Envolve h2 e scroll */
.cast-container {
    margin: 2rem 0;
    color: black;
    width: 100%;
}

.cast-container h2 {
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
}

/* Envolve o conjunto de cards */
.cast-scroll {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 1rem;
    /* Para retirar o padding de 1rem do content do app */
    margin-left: -1rem;
    margin-right: -1rem;
}

/* Envolve image-wrapper e info */
.cast-card {
    flex: 0 0 11rem;
    text-align: center;
}

/* Envolve image */
.cast-image-wrapper {
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.cast-image {
    width: 100%;
    object-fit: cover;
}

/* Envolve name e character */
.cast-info {
    display: flex;
    flex-direction: column;
    gap: 0.10rem;
    padding: 0 0 0.25rem;
}

.cast-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}

.cast-character {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .cast-card { flex: 0 0 8rem; }

    .cast-image-wrapper { width: 8rem; height: 8rem; }

    .cast-container { text-align: center; }
}