/* Envolve details */
.movie-details-wrapper {
    margin: 0 auto;
}

/* Envolve poster-wrapper, poster e info */
.movie-details {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

/* Envolve poster */
.movie-details-poster-wrapper {
    width: 19rem;
    aspect-ratio: 2 / 3;
    border-radius: 1rem;
    overflow: hidden;
    flex-shrink: 0;
}

.movie-details-poster {
    width: 100%;
    object-fit: cover;
}

/* Estilos para as informações do filme */
.movie-info {
    color: black;
    max-width: 63rem;
}

.movie-header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.movie-meta {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.movie-description h2 {
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
}

.movie-description p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

/* Estilos para a área de Favorito */
.movie-favorite-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.movie-favorite-label {
    font-weight: 600;
    font-size: 1.4rem;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .movie-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .movie-details-poster-wrapper {
        width: 80%;
    }

    .movie-meta,
    .movie-favorite-action {
        justify-content: center;
    }
}