html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 5rem 1rem;
}