header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color:rgb(41, 41, 41);
    color: white;

    z-index: 999;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilos para a barra de navegação */
.nav {
    display: flex;
    padding: 1rem 2rem;
}

/* Estilos para o menu de navegação */
.menu {
    position: relative;
    list-style: none;
    display: flex;
    font-size: 1.3rem;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

/* Estilos para os links do menu */
.menu a {
    color: rgba(255, 255, 255, 0.500);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

/* Estilos para o link ativo */
.menu a.active {
    color: white;
}

/* Estilos para o ícone do menu em dispositivos móveis */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}

/* Estilos para o overlay do menu em dispositivos móveis */
.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 998;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    /* Exibe o botão */
    .menu-toggle {
        display: block;
    }

    /* Oculta o botão do menu quando o menu está aberto */
    .menu-toggle.hidden {
        display: none;
    }

    /* Estilos para o menu fechado */
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(41, 41, 41);
        display: none;
        z-index: 1000;
    }

    /* Estilos para o menu quando está aberto */
    .menu.open {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
    }

    .menu li {
        text-align: center;
    }
}