header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color:rgb(41, 41, 41);
    color: white;

    padding: 1rem 2rem;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

nav a.active {
    font-weight: bold;
    position: relative;
}