/* Estilos para o componente Banner */
.banner {
    width: 100%;
    height: 60vh;
    min-height: 320px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

/* Sobreposição */
.banner-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

/* Conteúdo do banner */
.banner-content {
    color: white;
    padding: 1rem 2rem;
    max-width: 600px;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

/* Título */
.banner-content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    
}

/* Texto */
.banner-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Para dipositivos móveis */
@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }

    .banner-content h2 {
        font-size: 1.5rem;
    }
}

/* Dots de navegação */
.banner-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    border-radius: 0.4rem;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.dot {
    width: 0.7rem;
    height: 0.7rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background: #fff;
    transform: scale(1.3);
}