/* Estilos para o componente Banner */
.banner {
    width: 100%;
    height: 60vh;
    min-height: 320px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

/* Estilos para a imagem */
.banner-image {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    animation: zoomBg 10s ease-in-out infinite;
}

.fade-in { opacity: 1; }
.fade-out { opacity: 0; }

/* Sobreposição */
.banner-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.1)
    );
    z-index: 2;
}

/* Conteúdo do banner */
.banner-content {
    color: white;
    padding: 2rem;
    max-width: 600px;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    animation: textFadeUp 1s ease both;
}

/* Título */
.banner-content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    
}

/* Texto */
.banner-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }

    .banner-content h2 {
        font-size: 1.5rem;
    }
}

/* Dots de navegação */
.banner-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    border-radius: 0.4rem;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.dot {
    width: 0.8rem;
    height: 0.8rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background: #fff;
    transform: scale(1.3);
}

/* Animação do texto */
@keyframes textFadeUp {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

/* Animação da imagem */
@keyframes zoomBg {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}